<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <h2>Data da confecção do termo</h2> <br>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                <label for="id_data_conferencia_documentos"></label>
                    {{form.data_confeccao_termo}}
                </div>
                <br>
                <p><strong>Status da transação: </strong>Confecção de CI de Pagamento e Termo de Compromisso</p> <br>
                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        <a href="{% url 'processo_html' %}" class="btn btn-outline-primary mt-2">
            <i class="bi bi-arrow-left"></i> Voltar
        </a>
    </div>

</body>
</html>